pre{
	padding: 0;
}

pre > code{
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

.pad-container{
	padding: 0 10%;
}

header{
	background: #7FBFB6;
	height: 100vh;
	box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .3), 0 7px 4px 0 rgba(0, 0, 0, .2);
}

html{
	font-size: 16px;
}

.menu{
	display: inline-block;
	color: #fff;
	background: #4784C9;
	position: fixed;
	left: 30px;
	top: 30px;
	border-radius: 50%;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
	display: inline-block;
	padding: 1.2rem;
	font-size: 1.2rem;
	z-index:199;
}

.menu:hover{
	color: #fff;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .3);
	background: #4A90E1;

}

.menu-list{
	font-size: 1.2rem;
	min-width: 120px;
}

h2 {
	font-weight: 400;
}

.dropdown{
	background: #fff;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
	padding: 1rem;
	margin: 0;
}